<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ConnectionStringLocal" value="SERVER=PITSSQL;Database=PostClose;User Id=PostClosingApps;Password=Visi@183"/>
    <add key="url" value="https://stat.visionetsystems.com/vtpIntegratorOnline/InboundServlet?integrator=AtClose&amp;userId=atclose&amp;password=st@t123" />
    <add key="timiosurl" value="https://www.timiosinc.com/webservices/PostClosingUpload.aspx"/>
    <add key="visirecordingurl" value="https://visirecordinguat.visionetsystems.com/VisiRecordingService/VisiRecordingService.asmx"/>
    <add key="commonwealthurl" value="https://stat.commonwealthllc.com/vtpIntegratorOnline/InboundServlet?integrator=AtClose&amp;userId=atclose&amp;password=st@t123"/>
    <add key="ClientXMLFile" value="D:\IBML Output\ClientList.xml"/>
    <add key="ReswareClientXMLFile" value="D:\IBML Output\ReswareClientList.xml"/>
    <add key="CommonwealthXMLFile" value="D:\IBML Output\CommonwealthClientList.xml"/>
    <add key="SilkReswareClientXMLFile" value="D:\IBML Output\SilkReswareClientList.xml"/>
    <add key="TimiosXMLFile" value="D:\IBML Output\TimiosClientList.xml"/>
    <add key="VisiRecordingClientXMLFile" value="D:\IBML Output\VisiRecordingClientList.xml"/>
    <add key="listenPath" value="D:\IBML Output\scan" />
    <add key="processedPath" value="D:\IBML Output\processed" />
    <add key="exceptionPath" value="D:\IBML Output\exceptions" />
    <add key="pollingIntervalMins" value="1" />
    <add key="tempDir" value="D:\AtCloseServiceTempDir" />
    <add key="logDir" value="D:\AtCloseServiceLogs"/>
    <add key="logFlag" value="1"/>
    <add key="mailFromAddress" value="atclosenotifications@visionetsystems.com"/>
    <add key="mailFromUser" value="atclosenotifications@visionetsystems.com"/>
    <add key="mailFromPassword" value="Visi@183"/>
    <add key="mailToUser1" value="raymond.bertocki@visionetsystems.com;Tamela.Moore@visionetsystems.com;Scott.slagle@visionetsystems.com"/>
    <add key="mailToUser2" value=""/>
    <add key="UploadTimeout" value="300000"/>
    <add key="ReswareLoginUser" value="BPOXML"/>
    <add key="ReswareLoginPassword" value="arbett98"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="SilkReswareLoginUser" value="VisionSVC"/>
    <add key="SilkReswareLoginPassword" value="VisionSVC1!"/>
    <add key="WFGUsername" value="vnetintegrator"/>
    <add key="WFGPassword" value="November2020!"/>
    <add key="TimiosUsername" value="Visionet"/>
    <add key="TimiosPassword" value="7mnW7aRU7TI8PQIm5krX"/>
    <add key="VisiRecordingUsername" value="test_user"/>
    <add key="VisiRecordingPassword" value="abcd@1234"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="CustomBinding_LinearReceiveNoteService" receiveTimeout="00:05:00" sendTimeout="00:05:00">
          <security defaultAlgorithmSuite="Default" authenticationMode="SecureConversation" requireDerivedKeys="false" includeTimestamp="false" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" canRenewSecurityContextToken="true">
            <secureConversationBootstrap defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
              <localClientSettings detectReplays="false" />
              <localServiceSettings detectReplays="false" />
            </secureConversationBootstrap>
            <localClientSettings detectReplays="false" />
            <localServiceSettings detectReplays="false" />
          </security>
          <binaryMessageEncoding />
          <httpsTransport />
        </binding>
        <binding name="CustomBinding_SilkReceiveNoteService" receiveTimeout="00:05:00" sendTimeout="00:05:00">
          <security defaultAlgorithmSuite="Default" authenticationMode="SecureConversation" requireDerivedKeys="false" includeTimestamp="false" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" canRenewSecurityContextToken="true">
            <secureConversationBootstrap defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
              <localClientSettings detectReplays="false" />
              <localServiceSettings detectReplays="false" />
            </secureConversationBootstrap>
            <localClientSettings detectReplays="false" />
            <localServiceSettings detectReplays="false" />
          </security>
          <binaryMessageEncoding />
          <httpsTransport />
        </binding>
        <binding name="CustomBinding_WFGReceiveNoteService">
          <security defaultAlgorithmSuite="Default" authenticationMode="SecureConversation" requireDerivedKeys="false" includeTimestamp="false" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" canRenewSecurityContextToken="true">
            <secureConversationBootstrap defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
              <localClientSettings detectReplays="false" />
              <localServiceSettings detectReplays="false" />
            </secureConversationBootstrap>
            <localClientSettings detectReplays="false" />
            <localServiceSettings detectReplays="false" />
          </security>
          <binaryMessageEncoding />
          <httpsTransport />
        </binding>
      </customBinding>
      <wsHttpBinding>
        <binding name="BasicHttpEndpoint" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Mtom">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://resware.lineartitle.com/ResWareWebServices/ReceiveNoteService.svc" binding="customBinding" bindingConfiguration="CustomBinding_LinearReceiveNoteService" contract="LinearReceiveNoteService.IReceiveNoteService" name="CustomBinding_LinearReceiveNoteService" />
      <endpoint address="https://order.silktitle.com/ResWareWebServices/ReceiveNoteService.svc" binding="customBinding" bindingConfiguration="CustomBinding_SilkReceiveNoteService" contract="SilkReceiveNoteService.IReceiveNoteService" name="CustomBinding_SilkReceiveNoteService" />
      <endpoint address="https://vlrapp.visionetsystems.com/ArcOrderPlacement/OrderPlacement.svc" binding="wsHttpBinding" bindingConfiguration="BasicHttpEndpoint" contract="VLRArcServiceReference.IOrderPlacement" name="BasicHttpEndpoint" />
      <endpoint address="https://resware.wfgnationaltitle.com/ResWareWebServices/ReceiveNoteService.svc" binding="customBinding" bindingConfiguration="CustomBinding_WFGReceiveNoteService" contract="ResWareReceiveNoteService.IReceiveNoteService" name="CustomBinding_WFGReceiveNoteService" />
    </client>
  </system.serviceModel>
</configuration>